@import url("bootstrap.min.css");
@import url("lightbox.min.css");
body {
  padding: 0 !important;
  font-family: "Montserrat", sans-serif; }

.hero {
  padding: 200px 0 150px;
  background: url("../img/hero.png") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .hero:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 9; }
  .hero .content {
    position: relative;
    z-index: 99; }
    .hero .content h1 {
      color: #fff;
      font-size: 50px;
      line-height: 64px;
      text-align: center;
      font-family: "Rochester", sans-serif !important;
      color: #fff; }
  .hero .btns a {
    color: #fff;
    background: #978667;
    text-decoration: none;
    display: table;
    margin: 50px auto 0;
    padding: 10px 30px; }
    .hero .btns a:hover {
      background-color: #fff;
      color: #978667; }

.menu {
  margin: 50px 0; }
  .menu .title h2 {
    font-size: 40px;
    line-height: 52px;
    font-family: "Rochester", sans-serif !important;
    text-align: center;
    color: #000;
    position: relative;
    display: table;
    margin: 0 auto; }
    .menu .title h2:before {
      position: absolute;
      content: "";
      width: 50%;
      height: 1px;
      background-color: #978667;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%, -50%); }
  .menu .nav-tabs {
    margin: 50px 0px;
    border: none;
    justify-content: center; }
    .menu .nav-tabs .nav-link {
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.15em;
      color: #000;
      text-transform: uppercase;
      border: none; }
    .menu .nav-tabs .active {
      color: #978667;
      font-weight: 600; }
  .menu .info {
    position: relative;
    margin-bottom: 20px;
    padding: 20px; }
    .menu .info h3 {
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      letter-spacing: 0.15em;
      color: #000000;
      font-weight: 600; }
    .menu .info p {
      font-size: 14px;
      line-height: 25px;
      /* or 179% */
      letter-spacing: 0.1em;
      color: rgba(0, 0, 0, 0.5);
      max-width: 400px; }
    .menu .info .price {
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: #978667;
      font-weight: 500;
      padding: 2px 25px;
      color: #fff;
      font-weight: 800; }
    .menu .info:hover {
      background-color: #978667; }
      .menu .info:hover h3 {
        color: #fff; }
      .menu .info:hover p {
        color: #fff; }
      .menu .info:hover .price {
        background: #fff;
        color: #978667; }

.happy {
  background: url("../img/happy_bg.png") center center no-repeat;
  background-size: cover;
  padding: 50px 0px;
  position: relative;
  background-attachment: fixed; }
  .happy:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    top: 0px;
    left: 0px; }
  .happy .content {
    position: relative;
    z-index: 9; }
    .happy .content p {
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #fff; }
    .happy .content h3 {
      font-size: 40px;
      line-height: 49px;
      color: #FFFFFF; }
      .happy .content h3 span {
        color: #978667;
        font-weight: 700; }
    .happy .content p.description {
      font-family: Rochester;
      text-transform: inherit;
      font-size: 20px; }

.recommended {
  margin: 50px 0px; }
  .recommended .title {
    margin-bottom: 100px; }
    .recommended .title h3 {
      font-size: 40px;
      line-height: 52px;
      font-family: "Rochester", sans-serif !important;
      text-align: center;
      color: #000;
      position: relative;
      display: table;
      margin: 0 auto; }
  .recommended a {
    text-decoration: none;
    align-items: center;
    display: flex;
    margin-bottom: 20px; }
    .recommended a:hover {
      background-color: #978667; }
      .recommended a:hover .info h3,
      .recommended a:hover .info p {
        color: #fff; }
      .recommended a:hover .info .price {
        background-color: #fff;
        color: #978667; }
    .recommended a .food {
      display: inline-block;
      max-width: 200px; }
      .recommended a .food img {
        width: 100%; }
    .recommended a .info {
      display: inline-block;
      position: relative;
      margin-bottom: 0px;
      padding: 20px; }
      .recommended a .info h3 {
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        letter-spacing: 0.15em;
        color: #000000;
        font-weight: 600; }
      .recommended a .info p {
        font-size: 14px;
        line-height: 25px;
        margin: 0px;
        letter-spacing: 0.1em;
        color: rgba(0, 0, 0, 0.5);
        max-width: 400px; }
      .recommended a .info .price {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: #978667;
        font-weight: 500;
        padding: 2px 25px;
        color: #fff;
        font-weight: 800; }
      .recommended a .info:hover {
        background-color: #978667; }
        .recommended a .info:hover h3 {
          color: #fff; }
        .recommended a .info:hover p {
          color: #fff; }
        .recommended a .info:hover .price {
          background: #fff;
          color: #978667; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 20.25%;
  position: relative;
  height: 0; }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: "Rochester", sans-serif !important; }

footer {
  padding: 10px 0px;
  background-color: #978667; }
  footer p {
    color: #fff;
    margin: 0px;
    padding: 0px;
    text-align: center; }

/*# sourceMappingURL=theme.css.map */
